<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>

{% csrf_token %}
    <div class="main_button">
        <a href="http://127.0.0.1:8000/">MainSite</a>
    </div>
    <div class="login">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="forms">
                <p>LOGIN</p>
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="Password" name="password">
                {% if error_message %}
                <p>{{ error_message }}</p>
                {% endif %}
                <input class="button" type="submit" value="Login">
                Don't have an account? <a href="http://127.0.0.1:8000/Register">Register now</a>
            </div>
        </form>
    </div>
</body>
</html>