<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    {% csrf_token %}
    <div class="main_button">
        <a href="http://127.0.0.1:8000/">MainSite</a>
    </div>
    <div class="login">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="forms">
                <p>LOGIN</p>
                {{ form.username.label }}
                {{ form.username }}
                {{ form.email.label }}
                {{ form.email }}
                {{ form.password1.label }}
                {{ form.password1 }}
                {{ form.password2.label }}
                {{ form.password2 }}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                          <p>{{ field.label }}: {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <input class="button" type="submit" value="Register">
                Already have an account? <a href="http://127.0.0.1:8000/Login">Login</a>
            </div>
        </form>
    </div>
</body>
</html>