<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TrainerSite</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
<body>
  <header>
      <nav class="navbar">
        <div class="container">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#">CYBERSPORTS.KZ</a>
            </li>
            <li class="nav-item">
              <a href="CreatePost">CREATE POST</a>
            </li>
            <form class="search-form" method="GET" action="{% url 'SearchResult' %}">
              <input type="text" placeholder="Search" aria-label="Search" name="query">
              <button type="submit">Search</button>
            </form>
            {% if username is None %}
              <li class="nav-item">
                <a href="Login">LOGIN</a>
              </li>
              <li class="nav-item">
                <a href="Register">REGISTRATION</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="#">{{ username }}</a>
              </li>
              <li class="nav-item">
                <a href="Logout">LOGOUT</a>
              </li>
            {% endif %}
          </ul>
         </div>
      </nav>
  </header>

<div class="main-container">
  <div class="news-nav">
    <button onclick="filterPosts('All')">All</button>
    <button onclick="filterPosts('Teams')">Teams</button>
    <button onclick="filterPosts('Players')">Players</button>
    <button onclick="filterPosts('Games')">Games</button>
  </div>
  <section class="post-list">
    {% for i in posts %}
    <a href="PostView?pk={{ i.id }}" class="read-more">
      <div class="post-card" data-category="{{ i.category }}">
        <div class="post-img">
          <img src="{{ i.photo.url }}" alt="Post Image">
        </div>
        <div class="post-content">
          <span class="post-category">{{ i.category }}</span>
          <h2 class="post-title">
            <a href="PostView?pk={{ i.id }}">{{ i.text }}</a>
          </h2>
          <div class="post-meta">{{ i.created_at}}</div>
        </div>
      </div>
    </a>
    {% endfor %}
  </section>
</div>


<script>
  function filterPosts(category) {
    var postCards = document.querySelectorAll('.post-card');
    for (var i = 0; i < postCards.length; i++) {
      if (category === 'All' || postCards[i].dataset.category === category) {
        postCards[i].style.display = 'flex';
      } else {
        postCards[i].style.display = 'none';
      }
    }
  }
</script>

</body>
</html>

